
body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

button{
    color: white;
    background-color: blue;
    border-style: none;
    padding: 10px;
    font-size: 15px;
}

button > a{
    text-decoration: none;
    color: white
}

.containerBig {
	max-width: 1200px;
	margin: 0 auto;
}

.containerSmall {
	max-width: 1100px;
	margin: 0 auto;
}

ul > li{
    list-style-type: none;
}
/* Header */
header{
    min-height: 70px;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 999;
}

header a{
    text-decoration: none;
    color: black;
}

header img{
    height: 35%;
}

.header-left{
    align-items: center;
}

.header-right{
    justify-content: flex-end;
    align-items: center;
}

/* Main */
main{
    margin-top: 70px;
}

/* JUMBOTRON */
#jumbotron{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 200px;
}

#jumbotron h1{
    font-size: 70px;
    font-weight: 800;
}

.jumbo{
    margin: 0 auto;
    
}


.right-jumbo{
    position: relative;
}
.right-jumbo img{
    width: 100%;
    position: absolute;
}
/* FINE JUMBOTRON */

/* BUSINESS PLAN */
#business-plan{

}

#business-plan h2{
    font-size: 30px;
    font-weight: 700;
}

#business #radio{
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.payment-plan{
    margin: 0 auto;
}
 
.plan-type{
    width: calc(90% /3);
}

.plan-type .top-card{
    text-align: center;
    border-bottom: solid gray 2px;
}

.plan-type .bottom-card ul > li{
    padding-top: 16px;
}

.enterprise-contact{
    min-height: 300px;
    background-color: lightgreen;

}

.find-partner{
    min-height: 300px;
    background-color: aqua;
}
/* FINE BUSINESS PLAN */

/* OPERATION DROPBOX BUSINESS */
.drop-operation{
    min-height: 500px;
    flex-wrap: wrap;
}

.operation{
    background-color: cadetblue;
    width: calc(100% / 3);
}

.find-more{
    min-height: 300px;
}
/* FINE OPERATION DROPBOX BUSINESS*/


.customer{
    margin: 0 auto;
}

.customer-banner{
    height: 100vh;
}

.left-customer{
    width: 100%;
    flex-wrap: wrap;
}
.middle-customer{
    width: 100%;
}
.right-customer{
    width: 100%;
    flex-wrap: wrap;
}

.four-square{
    height: 50%;
    width: 50%;
    background-color: darkmagenta;
}

.drop-business{
    min-height: 300px;
    background-color: brown;
    margin: 0 auto;
}

.questions{
    min-height: 300px;
    background-color: blanchedalmond;
}

footer{
    min-height: 300px;
}

.menu{
    height: 100vh;
    margin: 0 auto;
}

.menu-item{
    width: calc(100% / 5);
    height: 100%;
}